// @import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
@import url('https://fonts.googleapis.com/css2?family=Ek+Mukta:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$mukta: 'Ek Mukta', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$nonactive-color: grey;
$hover-color: #ccc;
$active-color: white;
$separator-color: #333;
$header-color: #1a1a1a;

$header-logo-width-mobile: 80px;
$header-logo-width-mobile-delta: 15px;
$header-burger-width-mobile: 65px;
$header-height-mobile: 70px; // this must be changed in JS also
$header-nav-dropdown-bottom-padding-mobile: 60px; // this must be changed in JS also

// $header-nav-dropdown-menu-height: 440px; // this must be changed in JS also
$number-of-slides: 7;

html {
    height: 100vh; // important, vh and % differ on mobile!!
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
    //  height: 2000vh; 
    height: 100vh;
    //  font: 10px/1.5 "Montserrat", sans-serif; 
    font-family: Arial,sans-serif;
    // font-family: $mukta;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    background: black; //green; //#000000;

    @media (min-width: 1024px) {
        background:  black; //green; //#000000;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }  
}

// .blur > *:not(#items-wrapper), .header__lower__separator {
//     filter: none; //blur(3px);
// }


// .overlay {
//         position:absolute;
//         /* color with alpha transparency */
//         background-color: red;
//         /* stretch to screen edges */
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         z-index: 100000;
//     }
// .header__lower__navigation > *:not(#items-wrapper) {
//     filter: blur(1px);
//   }

// .header__lower__logo {
//     filter: blur(1px);
//   }


//   .header__lower__separator {
//     filter: blur(1px);
//   }

//   .navigation {
//     filter: blur(1px);
//   }


//   .content {
//     filter: blur(1px);
//   }

//   .backgrond {
//     filter: blur(1px);
//   }


.viewport {
    overflow: hidden;
    position: fixed;
    height: 100vh !important; 
    // visibility: hidden;
    //      height: -webkit-fill-available;  
    width: 100%;

    //  @media (min-width: 1024px) {
    //     height: 100vh;
    //  }
}

.background {
    position: fixed;
    //      display: flex; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    //      margin: auto; 
    //      height: -webkit-fill-available; 
    overflow: hidden;
    flex-direction: row;
    align-items:flex-end;
    background: green;

    &__video-container {
        flex: 1;
        width: 100%; 
        height: 100vh;
        display: flex;
        justify-content: center;

        &__video {
            flex: 1;
            // background-color: #000;
            transform: scale(0.6);
            opacity: 1;
            visibility: visible;
        }
    }
}

.content {
    overflow: hidden;
    position: absolute;
    width: 100%;

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        height:100vh;
        width: 100%;

        > div {
            display: flex;
            align-content: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            height:100%;
            height:100vh;
            width: 100%;
            color: #fff;
            opacity: 1;

            //  > p {
            //     width: 50%;
            // }
        }
    }   
}

.navigation {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;

    &__container {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        padding: 0px 30px 0px;

        &__dots {
            display: flex;
            //  right: 36px; 
            flex-direction: column;
            //  justify-content: center; 

            &__dot {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: black; //rgba(255, 255, 255, 1);
                margin: 12px 5px;
                opacity: 0.3;
                cursor: pointer;

                // :hover {
                    // opacity: 0.75;
                    // transform: scale(1.5); 
                // }
            }
        }

        &__toolTips {
            display: flex;
            flex-direction: column;
            justify-content: center;
            pointer-events: none;
            opacity: 0;

            &__toolTip {
                // color: #999999;
                color: grey;
                text-align: right;
                height: 12px;
                margin: 12px 12px;
                line-height: 13px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $header-height-mobile;
    // height: 100%;
 
    // display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // justify-content: flex-start;

 
    // @media (min-width: 768px) {
    //     // height: calc(3vw + 3vh);
    //     height: 80px;
    //     padding: 0.5% 4%;
    // }

    a {
        font-family: $mukta;
        // font-family: Arial,sans-serif;
        font-weight: 500;
        font-size: 1em;
        line-height: 1;
        color: $hover-color;
        text-decoration: none;

        @media (min-width: 768px) {
            font-size: 1em;
        }       
    }

    &__upper {
        width: 100%;
        height: 0px;
        background: #fff;
        overflow: hidden;

        &__logo {
            position: absolute;
            top: 0px;
            left: 0px;
            height: $header-height-mobile;
            width: $header-logo-width-mobile;
            display: flex;
            justify-content: center;
            align-items: center;
            // cursor: pointer;    

            .logo-icon {
                height: 60%;
                opacity: 1;
                fill: $active-color;
            }
        }

        &__navigation {
            position: absolute;
            top: 0px;
            left: $header-logo-width-mobile + 1px;
            height: $header-height-mobile;
            width: calc(100% - #{$header-logo-width-mobile} - #{$header-logo-width-mobile} - 0px);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

 
            a {
                // align-items: flex-start;
            }

            > .list {     
                // width: calc(100vw - #{$header-logo-width-mobile} - #{$header-logo-width-mobile-delta});
                width: 100%;
                height: 100%;

                // @media (max-width: 330px) {
                //     padding-right: calc(100vw - 330px + 40px);
                //     width: 220px;
                // }
            
                // @media (min-width: 500px) {
                //     width: 400px;
                // }
        

                // right: 0px;
                // position: absolute;
                // height: 100%; //calc(100% - 60px);

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                align-items: center;
                // padding-left: 40px;
                // padding-right: 40px;
                // padding-bottom: 60px;
                list-style: none;

                > .item {
                    height: 62.5%;
                    width: 70px;
                    // flex: 3 3;
                    // border-bottom: 1px solid $separator-color;
                    // transform: scale(1.15) translateX(75%);
                    // opacity: 0;
                    // transition: transform 0.5s $cubic, opacity 0.35s $cubic;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    cursor: pointer;

                    // &:nth-child(1) {
                    //     border-top: 1px solid $separator-color;
                    // }
                    // @for $i from 1 through $number-of-slides {
                    //     &:nth-child(#{$i}) {
                    //         transition-delay: #{0.40 - ($i * 0.05)}s;
                    //     }
                    // }     
                    
                    

                    > a {                       
                        display: flex;
                        align-items: center;
                        height: 100%;
                        color: black;
                        font-family: $mukta;
                        font-size: 22px;
                        font-weight: 200;

                        // &:hover {
                        //     color: $hover-color;
                        // }

                        // &.active {
                        //     color: $active-color;      
                        // }
                    }
                }
            }
            // &.openBurgerMenu {

            //     width: calc(100vw - #{$header-logo-width-mobile} - #{$header-logo-width-mobile-delta});
            //     // box-shadow:0 0 0 10000px rgba(0,0,0,.50);

            //     @media (max-width: 330px) {
            //              width: 220px;
            //     }

            //     @media (min-width: 500px) {
            //         width: 400px;
            //     }
            
            //     .list {

            //         .item {
            //             transform: scale(1) translateX(0px);
            //             opacity: 1;
            //             @for $i from 1 through $number-of-slides {
            //                 &:nth-child(#{$i}) {
            //                     transition-delay: #{0.05 * $i+0.1}s;
            //                 }
            //             }
            //         } 
            //     }  
            // }
            // }

            // a {
                // width: 100%;
                // display: flex;
                // padding-left: 15px;
                // font-size: 22px;
                // font-weight: 500; 
                // color: $nonactive-color;
            // }

 


            &__window {
                transform: none !important;

                position: absolute;
                background-color: $header-color; // rgba(26, 26, 26, 1); 
                overflow: hidden;
                transition: width 0.75s cubic-bezier(0.700, 0.000, 0.175, 1.000) 0.1s, background 0.75s ease-out 0.1s; //cubic-bezier(0.700, 0.000, 0.175, 1.000)
                top: calc(100% - 0.5px);
                right: -1px - $header-burger-width-mobile;
                height: calc(100vh - #{$header-height-mobile} + 1px);
                width: 0px; //calc(100vw - #{$header-logo-width-mobile});
            }   
        }

        &__contact {
            position: absolute;
            right: 0px;
            top: 0px;
            height: $header-height-mobile;
            width: $header-logo-width-mobile;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .button {
                position: relative;
                height: 62.5%;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: blue;
                border-radius: 4px;
                box-shadow: 0 0 15px 0 grey;
                cursor: pointer;

                &:hover {
                    transform: scale(1.04) perspective(1px);
                    box-shadow: 0 0 25px grey;
                }

                .contact-icon {
                    height: 50%;
                }
            }
        }

    //     &__separator-two {
    //         position: absolute;
    //         top: 0.25 * $header-height-mobile;
    //         right: $header-burger-width-mobile;
    //         width: 1px;
    //         height: 0.5 * $header-height-mobile;
    //         background: $separator-color;
    //         opacity: 1;
    //     }
    // }

    }


    &__lower {
        flex: 1 1;   
        width: 100%;
        background: $header-color;

        &__logo {
            position: absolute;
            top: 0px;
            left: 0px;
            height: $header-height-mobile;
            width: $header-logo-width-mobile;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;    

            &__svg {
                position: absolute;
                height: 60%;
                opacity: 1;
                // fill: $active-color;
            }

            &__pic {
                position: absolute;
                display: none;
                height: 70%;
                opacity: 1;
                // fill: $active-color;
            }
        }

        &__separator-one {
            position: absolute;
            top: 0.25 * $header-height-mobile;
            left: $header-logo-width-mobile;
            width: 1px;
            height: 0.5 * $header-height-mobile;
            background: $separator-color;
            opacity: 1;
        }


        &__navigation {
            position: absolute;
            top: 0px;
            left: $header-logo-width-mobile + 1px;
            height: $header-height-mobile;
            width: calc(100% - #{$header-logo-width-mobile} - #{$header-burger-width-mobile} - 2px);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: center;


            .navigation-wrapper {
                height: 100%;
                width: 100%;
                cursor: pointer;
            }

            a {
                width: 100%;
                display: flex;
                padding-left: 15px;
                font-size: 22px;
                font-weight: 200; 
                color: $nonactive-color;
            }

            &__top {
                $fontsize: 16px;

                position: relative;
                width: 100%;
                height: $header-height-mobile / 2;
                padding-top: 0.2 * $header-height-mobile;
                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    font-size: $fontsize; 
                    color: $active-color;
                    align-items: center;
                }

                .engine-models {
                    width: 100%;
                    height: $fontsize;
                    overflow: hidden;

                    .engine-models-slider {
                        
                        width: 100%;
                        height: $fontsize * 2 + 2px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        transform: translateY(0px);
                        transition: transform 0.4s ease-in-out 0s;                      
                    }
                }

                .arrowbox {
                    width: $header-burger-width-mobile;
                    height: $fontsize;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .arrow {
                        $boxwidth: 13px;
                        $boxheight: 13px;
                        width: $boxwidth;
                        height: $boxheight;
                        margin-left: 10px;
                        margin-bottom: 2px;
                        position: relative;
                        transition: 0.4s ease;
                        transform: rotate(0);

                        &:before, &:after {
                            box-sizing: content-box;
                            position: absolute;
                            content: '';
                            width: 1.5px;
                            height: 11px;
                            border-bottom: 12px solid white;
                            transform: rotate(0);
                            transition: 0.4s ease;
                        }

                        &:before {
                            transform: rotate(-135deg);
                            }
                        &:after { 
                            transform: rotate(135deg);
                            }
                    }
                } 

                &.engineSelect {

                    .engine-models {
    
                        .engine-models-slider {
                            transform: translateY(-18px);
                            transition: transform 0.4s ease-in-out 0s;                            
                        }
                    }

                    .arrowbox {

                        .arrow {
                            transform: rotate(0);
                            transform: translate(0, -8px);
                            &:before {
                                transform: rotate(-45deg);
                            }
                            &:after {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }

            &__bottom {
                position: relative;
                width: 100%;
                height: $header-height-mobile / 2;
                padding-bottom: 0.13 * $header-height-mobile;
                display: flex;
                flex-direction: row;
                align-items: center;
 
                a {
                    align-items: flex-start;
                }
            }

            .items-wrapper {

                // $header-logo-width-mobile-delta: 15px;

                transform: none !important;

                position: absolute;
                background-color: $header-color; // rgba(26, 26, 26, 1); 
                overflow: hidden;
                transition: width 0.75s cubic-bezier(0.700, 0.000, 0.175, 1.000) 0.1s, background 0.75s ease-out 0.1s; //cubic-bezier(0.700, 0.000, 0.175, 1.000)
                top: calc(100% - 0.5px);
                right: -1px - $header-burger-width-mobile;
                height: calc(100vh - #{$header-height-mobile} + 1px);
                width: 0px; //calc(100vw - #{$header-logo-width-mobile});

                > .list {     
                    width: calc(100vw - #{$header-logo-width-mobile} - #{$header-logo-width-mobile-delta});


                    @media (max-width: 330px) {
                        padding-right: calc(100vw - 330px + 40px);
                        width: 220px;
                    }
               
                    @media (min-width: 500px) {
                        width: 400px;
                    }
            

                    right: 0px;
                    position: absolute;
                    height: 100%; //calc(100% - 60px);

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-bottom: 60px;
                    list-style: none;

                    > .item {
                        flex: 3 3;
                        border-bottom: 1px solid $separator-color;
                        transform: scale(1.15) translateX(75%);
                        opacity: 0;
                        transition: transform 0.5s $cubic, opacity 0.35s $cubic;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        cursor: pointer;

                        &:nth-child(1) {
                            border-top: 1px solid $separator-color;
                        }
                        @for $i from 1 through $number-of-slides {
                            &:nth-child(#{$i}) {
                                transition-delay: #{0.40 - ($i * 0.05)}s;
                            }
                        }                        

                        > a {
                            
                            display: flex;
                            align-items: center;
                            height: 100%;
                            color: $hover-color;
                            font-size: 22px;

                            &:hover {
                                color: $hover-color;
                            }

                            &.active {
                                color: $active-color;      
                            }
                        }
                    }
                }
                &.openBurgerMenu {

                    width: calc(100vw - #{$header-logo-width-mobile} - #{$header-logo-width-mobile-delta});
                    // box-shadow:0 0 0 10000px rgba(0,0,0,.50);

                    @media (max-width: 330px) {
                             width: 220px;
                    }

                    @media (min-width: 500px) {
                        width: 400px;
                    }
                
                    .list {

                        .item {
                            transform: scale(1) translateX(0px);
                            opacity: 1;
                            @for $i from 1 through $number-of-slides {
                                &:nth-child(#{$i}) {
                                    transition-delay: #{0.05 * $i+0.1}s;
                                }
                            }
                        } 
                    }  
                }
            }   
        }

        &__burger {
            position: absolute;

            right: 0px;
            top: 0px;
            height: $header-height-mobile;
            width: $header-burger-width-mobile;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            
            .icon {
                position: relative;
                height: 20px;
                width: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: .4s transform .2s;
                   
                >div {
                    position: absolute;
                    width: 100%;
                    height: 2.25px;
                    background: #fff;
                    border-radius: 1px;
                }

                >div:before, >div:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2.25px;
                    border-radius: 1px;
                    background:#fff;
                    transition: .2s transform, .2s top;
                    transition-delay: .3s;
                }

                >div:before {
                    top: -10px;
                }

                >div:after {
                    top: 10px;
                }

                &.openBurgerMenu {
                    transform: rotate(45deg);

                    >div:before, >div:after {
                        transform: rotate(90deg);
                        top: 0;
                        transition-delay: .2s;
                    }
                }
            }
        }

        &__separator-two {
            position: absolute;
            top: 0.25 * $header-height-mobile;
            right: $header-burger-width-mobile;
            width: 1px;
            height: 0.5 * $header-height-mobile;
            background: $separator-color;
            opacity: 1;
        }
    }
}

.resize-animation-stopper * {
    animation: none !important;
    animation-duration: 0ms !important;
    animation-delay: 0ms !important;
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
}

.scrollTo_label {
	height: 2px;
    position: absolute;
	width: 100px;
	background-color: rgba(155, 155, 55, 1);
	visibility: hidden;
}








//  https://www.youtube.com/watch?v=PwWHL3RyQgk 
//   .header_button:active {
//     transform: scale(1) perspective(1px);
//     box-shadow: none
// } 
//  body.isMobile #subA .header_button {
//     display: none
// }

// body.isMobile #subA .sub_logo {
//     margin-top: 16px
// } 

//  .step h1 {
// 	top: 30px;
// 	right: 30px;
// 	font-size: 40vh;
// 	width: 100%;
// 	text-align: right;
// 	position: absolute;
// 	color: rgb(226, 92, 92);
// 	line-height: 1;
// 	letter-spacing: -0.03em;
// 	margin: 0 0 20px;
// } 
//  .content {
// 	position: absolute;
// 	bottom: 0;
// 	padding: 15px 15px 0 315px;
// 	color: #fff;
// 	font-size: 40px;
// }
// .content .text {
// 	margin-bottom: 10px;
// 	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
// 	transition: color 0.1s;
// }
// .content .text:hover {
//  	 color: yellowgreen;
// }
// .content .img {
// 	margin-left: 30px;
// 	vertical-align: bottom;
// 	filter: drop-shadow(0px 0px 4px rgba(220, 220, 220, 0.5));
// 	max-width: 80vh;
// } 
//  .info {
// 	position: fixed;
// 	pointer-events: none;
// 	padding: 30px;
// 	top: 0;
// 	left: 0;
// 	width: 300px;
// 	height: 100%;
// 	background: rgba(255, 255, 255, 0.1);
// }
// .info p {
// 	font-size: 1.2em;
// 	color: #fff;
// }
// .info p.field {
// 	line-height: 20px;
// 	clear: right;
// }
// .info p.field span {
// 	display: inline-block;
// 	margin-right: 10px;
// }
// .info p.field .label {
// 	opacity: 1;
// }
// .info p.field .value {
// 	font-weight: bold;
// 	font-size: 18px;
// 	float: right;
// }
// .info hr {
// 	border: none;
// 	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
// 	margin: 30px 0;
// } 
//  #step1 {
// 	background: #7b1fa2;
// }

// #step2 {
// 	background: #1976d2;
// }

// #step3 {
// 	background: #00796b;
// }

// #step4 {
// 	background: #388e3c;
// }

// #step5 {
// 	background: #f57c00;
// } 

// @import "../scss/fontawesome.scss";