body {
	overflow: hidden;
/* 	font: 10px/1.5 "Montserrat", sans-serif; */
	font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.hideMe {
    opacity: 1;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scene {
	/* display: flex; */
	position: relative;
	/* top: 80px;
	left: 0;
	bottom: 0;
	right: 0; */
	width: 100%; 
	height: 100%; 
	overflow: hidden;
	background: #1976d2;
}

.scroll-container-viewport {
	/* flex: 1; */
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;

	/* overflow: hidden; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.virtual-scroll-container {
	/* overflow-x: hidden;
	overflow-y: scroll; */

	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
 	width: 100%;
	height: 100%;   
}


.scroll-container {
	position: absolute;
	overflow: hidden;
	/* top: 0;
	left: 0; */
 	width: 100%;
	/* height: 100%;   */
}

.step {
	display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
	position: relative;
	height: 600px;
	width:100%;
	color: #fff;
	opacity: 1;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    /* position: relative; */
    background-color: rgba(255, 255, 255, 1);
    margin: 14px;
    opacity: 0.3;
    cursor: pointer;
}

.dots {
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 16px;
}

.toolTips {
    position: absolute;
    top: 50%;
    right: 55px;
    z-index: 1100;
    pointer-events: none;
}

.toolTip {
    color: #999999;
    text-align: right;
    height: 12px;
    margin: 12px 0;
    line-height: 12px;
    left: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* .step h1 {
	top: 30px;
	right: 30px;
	font-size: 40vh;
	width: 100%;
	text-align: right;
	position: absolute;
	color: rgb(226, 92, 92);
	line-height: 1;
	letter-spacing: -0.03em;
	margin: 0 0 20px;
} */

/* .content {
	position: absolute;
	bottom: 0;
	padding: 15px 15px 0 315px;
	color: #fff;
	font-size: 40px;
}
.content .text {
	margin-bottom: 10px;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
	-webkit-transition: color 0.1s;
	transition: color 0.1s;
}
.content .text:hover {
 	 color: yellowgreen;
}
.content .img {
	margin-left: 30px;
	vertical-align: bottom;
	-webkit-filter: drop-shadow(0px 0px 4px rgba(220, 220, 220, 0.5));
	filter: drop-shadow(0px 0px 4px rgba(220, 220, 220, 0.5));
	max-width: 80vh;
} */

/* .info {
	position: fixed;
	pointer-events: none;
	padding: 30px;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
}
.info p {
	font-size: 1.2em;
	color: #fff;
}
.info p.field {
	line-height: 20px;
	clear: right;
}
.info p.field span {
	display: inline-block;
	margin-right: 10px;
}
.info p.field .label {
	opacity: 1;
}
.info p.field .value {
	font-weight: bold;
	font-size: 18px;
	float: right;
}
.info hr {
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin: 30px 0;
} */
/* 
#step1 {
	background: #7b1fa2;
}

#step2 {
	background: #1976d2;
}

#step3 {
	background: #00796b;
}

#step4 {
	background: #388e3c;
}

#step5 {
	background: #f57c00;
} */

#videoContainer {
	position: absolute;
	display: flex;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#scrollbarDummy {
	position: absolute;
	height: 100%;
	width: 10%;
	right: 0px;	
}

#bgVideoFwd,
#bgVideoBwd {
	background-color: #000;
	position: absolute;
	height: 100%;
	max-width: 100%;
	min-width: 1500px;
	top: 50%;
	left: 50%;
	margin: 50;
	-webkit-transform: translate(-50%, -50%) scale(0.8);
	-moz-transform: translate(-50%, -50%) scale(0.8);
	-ms-transform: translate(-50%, -50%) scale(0.8);
	-o-transform: translate(-50%, -50%) scale(0.8);
	transform: translate(-50%, -50%) scale(1);
}

#bgVideoFwd {
	opacity: 1;
	visibility: visible;
}

#bgVideoBwd {
	opacity: 0;
	visibility: visible;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 3%;
	height: 80px;
    /* position: fixed; */
	background: #151515;
	width: 100%;
	
}

li, a, button {
	height: 10;
	font-family: Arial,sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: grey;
	text-decoration: none;
 
}

.header_logo {
	display: inline-block;
	user-select: none;
	
}

.header_logo_svg {
    width: 130px;
	height: 130px;
	cursor: pointer;
	opacity: 0.9;
	vertical-align: bottom;
}

.header_logo > span {
	height: 100%;
	font-family: Arial,sans-serif;
	font-weight: 500;
	font-size: 30px;
	/* line-height: 1; */
	color: grey;
	padding: 50% 0px;
}

.header_nav_links {
	list-style: none;
}

.header_nav_links > li {
	display: inline-block;
	padding: 0 12px;
}

.header_nav_links > li > a {
	transition: all 0.3s ease 0s;
}

.header_nav_links > li > a:hover {
	color: #ddd;
}

.header_nav_links > li > a.active {
    color: #fff
}

.header_button {
    line-height: 1;
    padding: 15px 25px;
    color: #fff;
    background: #771016;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s cubic-bezier(.18,.89,.32,1.28);
    -moz-transition: all .3s cubic-bezier(.18,.89,.32,1.28);
    transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.header_button:hover {
    -webkit-transform: scale(1.04) perspective(1px);
    -moz-transform: scale(1.04) perspective(1px);
    -ms-transform: scale(1.04) perspective(1px);
    -o-transform: scale(1.04) perspective(1px);
    transform: scale(1.04) perspective(1px);
    -webkit-box-shadow: 0 25px 0 #101010;
    -moz-box-shadow: 0 25px 0 #101010;
    box-shadow: 0 0 25px 0 #101010
} 

/* https://www.youtube.com/watch?v=PwWHL3RyQgk */




 
/*










/* .header_button:active {
    -webkit-transform: scale(1) perspective(1px);
    -moz-transform: scale(1) perspective(1px);
    -ms-transform: scale(1) perspective(1px);
    -o-transform: scale(1) perspective(1px);
    transform: scale(1) perspective(1px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
} */
/* 
body.isMobile #subA .header_button {
    display: none
}

body.isMobile #subA .sub_logo {
    margin-top: 16px
}
 */